@model IEnumerable<OhioVoter.ViewModels.Home.ElectionDate>

<div class="panel panel-group panel-main panel-main-group">

    <div class="panel-title panel-main-title">
        <p>Important Election Dates</p>
    </div>

    <div class="panel-body panel-main-body">

        <table class="calendar">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="date">
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td class="description">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }

        </table>
        
        <p>
            <a href="~/Content/images/2017_OhioElectionCalendar.pdf" target="_blank" id="calender_btn" class="btn panel-main-btn">View all the dates for current election year &raquo;</a><br />
            @Html.ActionLink("Full Election Calender", "ElectionCalendar", "Home", new { target = "_blank", id = "calender_btn", @class = "btn btn-block panel-main-btn" })
            <br />
            @Html.ActionLink("Sign up for emailed reminders", "EmailSignUp", "Home")
        </p>

    </div>

</div>

