@model OhioVoter.ViewModels.Issue.IssueLookUpViewModel

<div class="panel panel-group panel-main panel-main-group">

    <div class="panel-title panel-main-title">
        <p>Issue Lookup</p>
    </div>

    <div id="issue_lookup_form" class="panel-body panel-main-body">

        @using (Html.BeginForm("LookUp", "Issue", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div id="issue_lookup_date" class="form-group">
                @Html.LabelFor(x => x.SelectedVotingDateId, htmlAttributes: new { @id = "issue_lookup_label", @class = "control-label" })
                @Html.DropDownListFor(x => x.SelectedVotingDateId, Model.VotingDates, "-- Select A Date --", new { @class = "form-control", onchange = "this.form.submit()" })
                @Html.ValidationMessageFor(x => x.SelectedVotingDateId, "", new { @class = "text-danger" })
            </div>

            <div id="issue_lookup_county" class="form-group">
                @Html.LabelFor(x => x.SelectedCountyId, htmlAttributes: new { @id = "issue_lookup_label", @class = "control-label" })
                @Html.DropDownListFor(x => x.SelectedCountyId, Model.CountyNames, "-- Select A County --", new { @class = "form-control", onchange = "this.form.submit()" })
                @Html.ValidationMessageFor(x => x.SelectedCountyId, "", new { @class = "text-danger" })
            </div>

            if (Model.SelectedCountyId != "0")
            {
                <div id="issue_lookup_local" class="form-group">
                    @Html.LabelFor(x => x.SelectedCommunityId, htmlAttributes: new { @id = "issue_lookup_label", @class = "control-label" })
                    @Html.DropDownListFor(x => x.SelectedCommunityId, Model.CommunityNames, "-- Select A Community --", new { @class = "form-control", onchange = "this.form.submit()" })
                    @Html.ValidationMessageFor(x => x.SelectedCommunityId, "", new { @class = "text-danger" })
                </div>
            }

            <div id="candidate_compare_summary_lookup_hidden" style="display: none;">
                @Html.Display("selectedVotingDateId", Model.SelectedVotingDateId)
                @Html.Display("selectedCountyId", Model.SelectedCountyId)
                @Html.Display("selectedCommunityId", Model.SelectedCommunityId)
            </div>

        }

    </div>

</div>
