@model OhioVoter.ViewModels.Issue.IssueLookUpViewModel

<div class="panel-title panel-main-title">
    <p>Issue Lookup</p>
</div>

<div id="issue_lookup" class="panel-body panel-main-body">

    <div id="issue_lookup_date" class="form-group">
        @Html.HiddenFor(x => x.VotingDateId, new { @class = "candidate_summary_votingdate" })
        <p><b>Election Date:</b> @Model.VotingDate</p>
    </div>

    <hr />

@using (Html.BeginForm("LookUp", "Issue", FormMethod.Post, new { votingDateId = Model.VotingDateId}))
{
    @Html.AntiForgeryToken()

    <table id="issue_lookup_table" style="margin-right: auto; margin-left: auto;">

        <tr>
            <td style="text-align: right; padding-right: 10px;">@Html.LabelFor(x => x.SelectedCountyId, htmlAttributes: new { @class = "control-label" })</td>
            <td>@Html.DropDownListFor(x => x.SelectedCountyId, Model.CountyNames, "-- Select A County --", new { @class = "form-control", onchange = "this.form.submit()" })</td>
            <td>@Html.ValidationMessageFor(x => x.SelectedCountyId, "", new { @class = "text-danger" })</td>
        </tr>
        @{  if (Model.SelectedCountyId != "0")
                {
                <tr>
                    <td style="text-align: right; padding-right: 10px;">@Html.LabelFor(x => x.SelectedCommunityId, htmlAttributes: new { @class = "control-label" })</td>
                    <td>@Html.DropDownListFor(x => x.SelectedCommunityId, Model.CommunityNames, "-- Select A Community --", new { @class = "form-control", onchange = "this.form.submit()" })</td>
                    <td>@Html.ValidationMessageFor(x => x.SelectedCommunityId, "", new { @class = "text-danger" })</td>
                </tr>
            }
        }

    </table>

        <div id="issue_lookup_hidden" style="display: none;">
            @Html.Display("selectedVotingDateId", Model.VotingDateId)
            @Html.Display("selectedCountyId", Model.SelectedCountyId)
            @Html.Display("selectedCommunityId", Model.SelectedCommunityId)
        </div>

            }

</div>

