@model OhioVoter.ViewModels.Location.VoterLocationViewModel

<div id="voter-address" class="panel-body panel-left-body">

    <b>Voter Location:</b><br />
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <span class="text-danger">@Model.Message</span>
        <br />
    }
    @Model.StreetAddress <br />
    @Model.City, @Model.StateAbbreviation @Model.ZipCode

    @Html.HiddenFor(x => x.StreetAddress)
    @Html.HiddenFor(x => x.City)
    @Html.HiddenFor(x => x.StateAbbreviation)
    @Html.HiddenFor(x => x.ZipCode)

    @Html.ActionLink("Update Your Location", "Update", "Location", new { controllerName = Model.ControllerName }, new { @class = "btn btn-block panel-left-btn voter_location_update_btn" })

</div>
