@model OhioVoter.ViewModels.Location.VoterLocationViewModel

<div id="voter-address" class="panel-body panel-left-body">

    <b>Voter Location:</b><br />
    @Model.StreetAddress <br />
    @Model.City, @Model.StateAbbreviation @Model.ZipCode

    @Html.HiddenFor(x => x.StreetAddress)
    @Html.HiddenFor(x => x.City)
    @Html.HiddenFor(x => x.StateAbbreviation)
    @Html.HiddenFor(x => x.ZipCode)

    @*<button id="btn-show-voter-location-form" type="button" class="btn btn-block panel-left-btn" onclick="ShowVoterLocationForm();"> Update Your Location </button>*@
    @Html.ActionLink("Update Your Location", "Update", "Location", new { controllerName = Model.ControllerName }, new { @class = "btn btn-block panel-left-btn" })

</div>
