@model OhioVoter.ViewModels.SideBar

<div class="panel panel-group panel-left panel-left-group">

    <div class="panel-title panel-left-title">
        <p>Your Location</p>
    </div>

    <div class="panel-body panel-left-body">

        @using (Html.BeginForm("Location", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="panel-left-form-text">

                @Html.ValidationSummary(true, Model.VoterLocation.Message, new { @class = "text-danger" })

                <p> Enter an address to personalize your Ohio voting information. </p>
                <hr />

                <div class="form-group">
                    @Html.LabelFor(x => x.VoterLocation.StreetAddress, htmlAttributes: new { @class = "control-label" })<br />
                    @Html.EditorFor(x => x.VoterLocation.StreetAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.VoterLocation.StreetAddress, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.VoterLocation.ZipCode, htmlAttributes: new { @class = "control-label" }) <br />
                    @Html.EditorFor(x => x.VoterLocation.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.VoterLocation.ZipCode, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn btn-block panel-left-btn"> Update Your Location </button>

            </div>
        }

    </div>

</div>
