@model OhioVoter.ViewModels.Ballot.BallotCandidateViewModel

<tr class="ballot_candidate">
    <td class="ballot_candidate_selected">
        @Html.HiddenFor(x => Model.CandidateId)
        @Html.CheckBoxFor(x => Model.IsSelected)
    </td>
    <td class="ballot_candidate_name">
        <img src="@Model.VoteSmartCandidateImageUrl" />
        @Html.DisplayFor(x => Model.CandidateName)
    </td>
    <td class="ballot_candidate_party">
        @Html.DisplayFor(x => Model.PartyName)
    </td>
    <td class="ballot_candidate_view">
        <a href="#">Learn More</a>
    </td>
</tr>

@* ** RUNNINGATES GO HERE ** *@
@if (Model.RunningMateId > 0)
{
    <tr class="ballot_runningmate">
        <td>
            @Html.HiddenFor(x => Model.RunningMateId)
        </td>
        <td class="ballot_runningmate_name">
            <img src="@Model.VoteSmartRunningMateImageUrl" />
            @Html.DisplayFor(x => Model.RunningMateName)
        </td>
        <td>
            &nbsp;
        </td>
        <td class="ballot_runningmate_view">
            <a href="#">Learn More</a>
        </td>
    </tr>
}

