@model OhioVoter.ViewModels.Candidate.CandidateCompareSummaryLookUpViewModel

@using (Html.BeginForm("CompareName", "Candidate", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div id="candidate_compare_summary_lookup_candidate" class="form-group">
        @Html.LabelFor(x => x.SelectedCandidateId, htmlAttributes: new { @id = "candidate_compare_lookup_second_label", @class = "control-label" })
        @Html.DropDownListFor(x => x.SelectedCandidateId, Model.CandidateNames, "-- Select A Candidate --", new { @id = "candidate_compare_lookup_second_dropdown", @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SelectedCandidateId, "", new { @class = "text-danger" })
    </div>

    <div id="candidate_compare_summary_lookup_hidden" style="display: none;">
        <input type="text" name="CandidateFirstDisplayId" value="@Model.CandidateFirstDisplayId" />
        <input type="text" name="OfficeId" value="@Model.OfficeId" />
        <input type="text" name="VotingDateId" value="@Model.VotingDateId" />
    </div>

    <div>
        <button id="candidate_compare_summary_lookup_btn" type="submit" class="btn btn-block panel-left-btn"> Display Candidate </button>
    </div>
}


