@model OhioVoter.ViewModels.Candidate.CandidateSummaryViewModel

<div class="panel panel-group panel-main panel-main-group">

    <div class="panel-title panel-main-title">
        <p>Candidate Summary</p>
    </div>

    <div class="panel-body panel-main-body">

        <div id="candidate_summary">

            <div id="candidate_lookup_date" class="form-group">
                @Html.HiddenFor(x => x.VotingDate, new { @class = "candidate_summary_votingdate" })
                <p><b>Election Date:</b> @Model.VotingDate</p>
            </div>

            <hr />

            @{ if (TempData["CandidateMessage"] != null && TempData["CandidateMessage"].ToString() != string.Empty)
                {
                    <div id="candidate_summary_message" class="alert alert-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        @TempData["CandidateMessage"].ToString()
                    </div>
                }
            }
            @{ if (Model.RunningMateSummary.CandidateId > 0)
                {
                    <div id="candidate_summary_candidate_with_runningmate">
                        @if (Model.CandidateSummary.CandidateId == Model.SelectedCandidateId)
                        {
                            <img src="@Url.Content(Model.CandidateSummary.VoteSmartPhotoUrl)" alt="Candidate" id="candidate_summary_img" /> <br />
                        }
                        else
                        {
                            <img src="@Url.Content(Model.CandidateSummary.VoteSmartPhotoUrl)" alt="Candidate" id="candidate_summary_img_not_selected" /> <br />
                        }
                        @Model.CandidateSummary.FullName<br />
                        @Model.CandidateSummary.PartyName<br />
                        @Model.CandidateSummary.OfficeName
                        @Model.CandidateSummary.OfficeTerm<br />
                        @Model.CandidateSummary.OfficeHolderName
                    </div>

                    <div id="candidate_summary_runningmate">
                        @if (Model.RunningMateSummary.CandidateId == Model.SelectedCandidateId)
                        {
                            <img src="@Url.Content(@Model.RunningMateSummary.VoteSmartPhotoUrl)" alt="Running Mate" id="candidate_summary_img" /> <br />
                        }
                        else
                        {
                            <img src="@Url.Content(@Model.RunningMateSummary.VoteSmartPhotoUrl)" alt="Running Mate" id="candidate_summary_img_not_selected" /> <br />
                        }
                        @Model.RunningMateSummary.FullName<br />
                        @Model.RunningMateSummary.PartyName<br />
                        @Model.RunningMateSummary.OfficeName<br />
                        @Model.RunningMateSummary.OfficeHolderName
                    </div>
                }
                else
                {
                    <div id="candidate_summary_candidate">
                        @if (Model.CandidateSummary.CandidateId == Model.SelectedCandidateId)
                        {
                            <img src="@Url.Content(Model.CandidateSummary.VoteSmartPhotoUrl)" alt="Candidate" id="candidate_summary_img" /> <br />
                        }
                        else
                        {
                            <img src="@Url.Content(Model.CandidateSummary.VoteSmartPhotoUrl)" alt="Candidate" id="candidate_summary_img_not_selected" /> <br />
                        }
                        @Model.CandidateSummary.FullName<br />
                        @Model.CandidateSummary.PartyName<br />
                        @Model.CandidateSummary.OfficeName
                        @Model.CandidateSummary.OfficeTerm<br />
                        @Model.CandidateSummary.OfficeHolderName
                    </div>

                    }
            }

        </div>

        <div id="candidate_summary_btn">
            @Html.ActionLink("Change Candidate", "Index", "Candidate", new { candidateId = 0 }, new { @id = "candidate_summary_new_btn", @class = "btn btn-block panel-main-btn" })
            @{ if (Model.CandidateCount > 1)
                {
                    @Html.ActionLink("Compare Second Candidate", "Compare", "Candidate", new { firstCandidateId = Model.SelectedCandidateId, secondCandidateId = 0, dateId = Model.VotingDateId, officeId = Model.SelectedCandidateOfficeId }, new { @id = "candidate_summary_compare_btn", @class = "btn btn-block panel-main-btn" })
                }
            }
        </div>

    </div>


</div>
