@model OhioVoter.ViewModels.Candidate.CandidateLookUpViewModel

@{
    var candidateLookUpVM = @Html.Raw(Model);
}

<div id="candidate_lookup_group" class="panel panel-group panel-main panel-main-group">

    <div class="panel-title panel-main-title">
        <p>Candidate Lookup</p>
    </div>

    <div id="candidate_lookup_form" class="panel-body panel-main-body">

        @using (Html.BeginForm("CandidateLookUp", "Candidate", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div id="candidate_lookup_date" class="form-group">
                <p><b>Election Date:</b> @Model.VotingDate</p>
            </div>

            <div id="candidate_lookup_office" class="form-group">
                <p>Lookup By Office:</p>
                @Html.DropDownListFor(x => x.SelectedElectionOfficeId, Model.ElectionOfficeNames, "-- Select An Office --", new { @class = "form-control", onchange = "this.form.submit()" })
                @Html.ValidationMessageFor(x => x.SelectedElectionOfficeId, "", new { @class = "text-danger" })
            </div>

            <div id="candidate_lookup_candidate" class="form-group">
                <p>Lookup By Candidate Name:</p>
                @Html.TextBoxFor(x => x.CandidateLookUpName, new { @id = "candidate_lookup_name", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.SelectedElectionOfficeId, "", new { @class = "text-danger" })
                <button id="candidate_lookup_btn" type="submit" class="btn btn-block panel-left-btn"><span class="glyphicon glyphicon-search"></span></button>
            </div>

            @*
            <div id="candidate_lookup_candidate" class="form-group">
                @Html.LabelFor(x => x.SelectedCandidateId, htmlAttributes: new { @id = "candidate_lookup_label", @class = "control-label" })*
                @Html.DropDownListFor(x => x.SelectedCandidateId, Model.CandidateNames, "-- Select A Candidate --", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.SelectedCandidateId, "", new { @class = "text-danger" })
            </div>
            

            <div>
                <button id="candidate_lookup_btn" type="submit" class="btn btn-block panel-left-btn"> Display Candidate </button>
            </div>
            *@
        }

    </div>

    <div id="candidate_list_group">
        <div id="candidate_list_select">
            @{Html.RenderPartial("_CandidateList", Model.CandidateListViewModel);}
        </div>
    </div>
</div>



