@model OhioVoter.ViewModels.Candidate.CandidateCompareSummarySecondViewModel

@{ if (Model.RunningMateCompareSummarySecond.CandidateId > 0)
    {
        <div id="candidate_compare_summary_second_candidate_with_runningmate">
            @if (Model.CandidateCompareSummarySecond.CandidateId == Model.CandidateSecondDisplayId)
            {
                <img src="@Url.Content(Model.CandidateCompareSummarySecond.VoteSmartPhotoUrl)" alt="Candidate" id="candidate_compare_summary_second_img" /> <br />
            }
            else
            {
                <img src="@Url.Content(Model.CandidateCompareSummarySecond.VoteSmartPhotoUrl)" alt="Candidate" id="candidate_compare_summary_second_img_not_selected" /> <br />
            }
            @Model.CandidateCompareSummarySecond.FullName<br />
            @Model.CandidateCompareSummarySecond.PartyName<br />
            @Model.CandidateCompareSummarySecond.OfficeName
            @Model.CandidateCompareSummarySecond.OfficeTerm<br />
            @Model.CandidateCompareSummarySecond.OfficeHolderName
        </div>

        <div id="candidate_compare_summary_second_runningmate">
            @if (Model.RunningMateCompareSummarySecond.CandidateId == Model.CandidateSecondDisplayId)
            {
                <img src="@Url.Content(@Model.RunningMateCompareSummarySecond.VoteSmartPhotoUrl)" alt="Running Mate" id="candidate_compare_summary_second_img" /> <br />
            }
            else
            {
                <img src="@Url.Content(@Model.RunningMateCompareSummarySecond.VoteSmartPhotoUrl)" alt="Running Mate" id="candidate_compare_summary_second_img_not_selected" /> <br />
            }
            @Model.RunningMateCompareSummarySecond.FullName<br />
            @Model.RunningMateCompareSummarySecond.PartyName<br />
            @Model.RunningMateCompareSummarySecond.OfficeName<br />
            @Model.RunningMateCompareSummarySecond.OfficeHolderName
        </div>
    }
    else
    {
        <div id="candidate_compare_summary_second_candidate">
            @if (Model.CandidateCompareSummarySecond.CandidateId == Model.CandidateSecondDisplayId)
            {
                <img src="@Url.Content(Model.CandidateCompareSummarySecond.VoteSmartPhotoUrl)" alt="Candidate" id="candidate_compare_summary_second_img" /> <br />
            }
            else
            {
                <img src="@Url.Content(Model.CandidateCompareSummarySecond.VoteSmartPhotoUrl)" alt="Candidate" id="candidate_compare_summary_second_img_not_selected" /> <br />
            }
            @Model.CandidateCompareSummarySecond.FullName<br />
            @Model.CandidateCompareSummarySecond.PartyName<br />
            @Model.CandidateCompareSummarySecond.OfficeName
            @Model.CandidateCompareSummarySecond.OfficeTerm<br />
            @Model.CandidateCompareSummarySecond.OfficeHolderName
        </div>
    }
}

@Html.ActionLink("Remove Candidate", "RemoveSecond", "Candidate", new { firstCandidateId = Model.CandidateFirstDisplayId, secondCandidateId = Model.CandidateSecondDisplayId, candidateCompareCount = Model.TotalNumberOfCandidates, dateId = Model.VotingDateId, officeId = Model.OfficeId }, new { @id = "candidate_compare_summary_second_btn", @class = "btn btn-block panel-main-btn" })






