@model List<OhioVoter.ViewModels.Candidate.CandidateLookUpViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table candidate_List">
    <tr>
        <th>
            Candidate
        </th>
        <th>
            Party
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedCandidateId)
        </th>
        <th></th>
    </tr>

    @for (int i = 0; i < Model.CandidateListViewModel.Count(); i++)
    {
        var candidate = Model.CandidateListViewModel[i];
        <tr>
            <td>
                @Html.HiddenFor(modelCandidate => candidate.ElectionCandidateId)
                <img src="@Url.Content(candidate.PhotoUrl)" />
                @Html.DisplayFor(modelCandidate => candidate.CandidateName)
            </td>
            <td>
                @Html.HiddenFor(modelCandidate => candidate.PartyId)
                @Html.DisplayFor(modelCandidate => candidate.PartyName)
            </td>
            <td>
                @Html.HiddenFor(modelCandidate => candidate.ElectionOfficeId)
                @Html.DisplayFor(modelCandidate => candidate.ElectionOfficeName)
            </td>
            <td>
                @Html.ActionLink("Select", "Select", new { id = candidate.ElectionCandidateId }) |
            </td>
        </tr>
    }

</table>
