@model OhioVoter.ViewModels.Candidate.CandidateLookUpViewModel

<div id="candidate_lookup_group" class="panel panel-group panel-main panel-main-group">

    <div class="panel-title panel-main-title">
        <p>Candidate Lookup</p>
    </div>

    <div id="candidate_lookup_form" class="panel-body panel-main-body">

        @using (Html.BeginForm("Office", "Candidate", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div id="candidate_lookup_date" class="form-group">
                <p><b>Election Date:</b> @Model.VotingDate</p>
            </div>

            <div id="candidate_lookup_office" class="form-group">
                <p>Lookup By Office:</p>
                @Html.DropDownListFor(x => x.SelectedElectionOfficeId, Model.ElectionOfficeNames, "-- Select An Office --", new { @class = "form-control", onchange = "this.form.submit()" })
                @Html.ValidationMessageFor(x => x.SelectedElectionOfficeId, "", new { @class = "text-danger" })
            </div>

            <div id="candidate_lookup_candidate" class="form-group">
                <p>Lookup By Candidate Name:</p>
                @Html.EditorFor(x => x.CandidateName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.SelectedElectionOfficeId, "", new { @class = "text-danger" })
            </div>

            @*
            <div id="candidate_lookup_candidate" class="form-group">
                @Html.LabelFor(x => x.SelectedCandidateId, htmlAttributes: new { @id = "candidate_lookup_label", @class = "control-label" })*
                @Html.DropDownListFor(x => x.SelectedCandidateId, Model.CandidateNames, "-- Select A Candidate --", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.SelectedCandidateId, "", new { @class = "text-danger" })
            </div>
            *@

            <div>
                <button id="candidate_lookup_btn" type="submit" class="btn btn-block panel-left-btn"> Display Candidate </button>
            </div>
        }

    </div>

    <div id="candidate_list_group">

        <table class="candidate_list_select">
            <tr>
                <th></th>
                <th>
                    Candidate
                </th>
                <th>
                    Party
                </th>
                <th>
                    Office
                </th>
                <th></th>
            </tr>

            @for (int i = 0; i < Model.CandidateListViewModel.Count(); i++)
            {
                var candidate = Model.CandidateListViewModel[i];
                    <tr>
                        <td class="candidate_list_photo">
                            @Html.HiddenFor(x => Model.CandidateListViewModel[i].CandidateId)
                            <img src="@Url.Content(Model.CandidateListViewModel[i].PhotoUrl)" alt="Candidate Photo" class="candidate_list_img" />
                        </td>
                        <td class="candidate_list_candidate">
                            @Html.DisplayFor(x => x.CandidateListViewModel[i].CandidateName)
                        </td>
                        <td class="candidate_list_party">
                            @Html.DisplayFor(x => x.CandidateListViewModel[i].PartyName)
                        </td>
                        <td class="candidate_list_office">
                            @Html.DisplayFor(x => x.CandidateListViewModel[i].ElectionOfficeName)
                        </td>
                        <td class="candidate_list_select">
                            @Html.ActionLink("Select", "Index", new { candidateId = candidate.CandidateId })
                        </td>
                    </tr>
                }
            

        </table>

    </div>
</div>



