@model OhioVoter.ViewModels.Candidate.CandidateCompareSummaryFirstViewModel

<div id="candidate_compare_summary_first_candidate">
    @if (Model.CandidateCompareSummaryFirst.CandidateId == Model.CandidateFirstDisplayId)
    {
        <img src="@Url.Content(Model.CandidateCompareSummaryFirst.VoteSmartPhotoUrl)" alt="Candidate" id="candidate_compare_summary_first_img" /> <br />
    }
    else
    {
        <img src="@Url.Content(Model.CandidateCompareSummaryFirst.VoteSmartPhotoUrl)" alt="Candidate" id="candidate_compare_summary_first_img_not_selected" /> <br />
    }
    @Model.CandidateCompareSummaryFirst.FullName<br />
    @Model.CandidateCompareSummaryFirst.PartyName<br />
    @Model.CandidateCompareSummaryFirst.OfficeName
    @Model.CandidateCompareSummaryFirst.OfficeTerm<br />
    @Model.CandidateCompareSummaryFirst.OfficeHolderName
</div>

<div id="candidate_compare_summary_first_runningmate">
    @{ if (Model.RunningMateCompareSummaryFirst.CandidateId > 0)
        {
            if (Model.RunningMateCompareSummaryFirst.CandidateId == Model.CandidateFirstDisplayId)
            {
                <img src="@Url.Content(@Model.RunningMateCompareSummaryFirst.VoteSmartPhotoUrl)" alt="Running Mate" id="candidate_compare_summary_first_img" /> <br />
            }
            else
            {
                <img src="@Url.Content(@Model.RunningMateCompareSummaryFirst.VoteSmartPhotoUrl)" alt="Running Mate" id="candidate_compare_summary_first_img_not_selected" /> <br />
            }
            @Model.RunningMateCompareSummaryFirst.FullName<br />
            @Model.RunningMateCompareSummaryFirst.PartyName<br />
            @Model.RunningMateCompareSummaryFirst.OfficeName<br />
            @Model.RunningMateCompareSummaryFirst.OfficeHolderName
        }
    }
</div>

@Html.ActionLink("Remove Candidate", "RemoveFirst", "Candidate", new { firstCandidateId = Model.CandidateFirstDisplayId, secondCandidateId = Model.CandidateSecondDisplayId, candidateCount = Model.TotalNumberOfCandidates, dateId = Model.VotingDateId, officeId = Model.OfficeId }, new { @id = "candidate_compare_summary_first_btn", @class = "btn btn-block panel-main-btn" })





