@model OhioVoter.ViewModels.Candidate.CandidatePersonalViewModel

<div class="panel panel-group panel-main panel-main-group">

    <div class="panel-title panel-main-title">
        <p> Personal Information </p>
    </div>

    <div class="panel-body panel-main-body">

        @{ if (Model.CandidateLookUpId == Model.CandidateId)
            {
                <text><b>Family:</b></text> @Model.CandidateFamily <br />
                <text><b>Gender:</b></text> @Model.CandidateGender <br />
                <text><b>Birth Date:</b></text> @Model.CandidateBirthDate <br />
                <text><b>Birth Place:</b></text> @Model.CandidateBirthPlace <br />
                <text><b>Home:</b></text> @Model.CandidateHomeCity<text>, </text>@Model.CandidateHomeState <br /> 
                <text><b>Religion:</b></text> @Model.CandidateReligion
            }
            else if (Model.CandidateLookUpId == Model.RunningMateId)
            {
                <text><b>Family:</b></text> @Model.RunningMateFamily <br />
                <text><b>Gender:</b></text> @Model.RunningMateGender <br />
                <text><b>Birth Date:</b></text> @Model.RunningMateBirthDate <br />
                <text><b>Birth Place:</b></text> @Model.RunningMateBirthPlace <br />
                <text><b>Home:</b></text> @Model.RunningMateHomeCity<text>, </text>@Model.RunningMateHomeState <br />
                <text><b>Religion:</b></text> @Model.RunningMateReligion
            }
        }

    </div>

</div>


