@model OhioVoter.ViewModels.Candidate.CandidateLookUpViewModel

@{
    var candidateLookUpVM = @Html.Raw(Model);
}

<div id="candidate_lookup_group" class="panel panel-group panel-main panel-main-group">

    <div class="panel-title panel-main-title">
        <p>Candidate Lookup</p>
    </div>

    <div id="candidate_lookup_form" class="panel-body panel-main-body">

        @using (Html.BeginForm("CandidateLookUp", "Candidate", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div id="candidate_lookup_date" class="form-group">
                @Html.HiddenFor(x => x.VotingDate, new { @class = "candidate_lookup_votingdate"})
                <p><b>Election Date:</b> @Model.VotingDate</p>
            </div>

            <hr/>

            <div id="candidate_lookup_fields">

                <table id="candidate_lookup_table">
                    <tr>
                        <td>
                            @Html.LabelFor(x => x.SelectedElectionOfficeId, htmlAttributes: new { @class = "control-label" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DropDownListFor(x => x.SelectedElectionOfficeId, Model.ElectionOfficeNames, "-- Select An Office --", new { @id = "candidate_lookup_office", @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.SelectedElectionOfficeId, "", new { @class = "text-danger" })
                       </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(x => x.CandidateLookUpName, htmlAttributes: new { @class = "control-label" })<br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.TextBoxFor(x => x.CandidateLookUpName, new { @id = "candidate_lookup_name", @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.SelectedElectionOfficeId, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>

            </div>
        }

    </div>

    <div id="candidate_list_group">

        <div id="candidate_list_loading">
            @{Html.RenderPartial("_CandidateListLoading");}
        </div>

        <div id="candidate_list_select">
            @{Html.RenderPartial("_CandidateList", Model.CandidateListViewModel);}
        </div>

    </div>
</div>



