@model OhioVoter.ViewModels.Candidate.CandidateLookUpViewModel

<div class="panel panel-group panel-main panel-main-group">

    <div class="panel-title panel-main-title">
        <p>Candidate Lookup</p>
    </div>

    <div id="candidate_lookup_form" class="panel-body panel-main-body">

        @using (Html.BeginForm("Name", "Candidate", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div id="candidate_lookup_date" class="form-group">
                <p>Election Date: @Model.VotingDate</p>
            </div>

            <div id="candidate_lookup_candidate" class="form-group">
                @Html.LabelFor(x => x.CandidateDropDownList.SelectedCandidateId, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(x => x.CandidateDropDownList.SelectedCandidateId, Model.CandidateDropDownList.CandidateNames, "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.CandidateDropDownList.SelectedCandidateId, "", new { @class = "text-danger" })
            </div>

            <button id="candidate_lookup_btn" type="submit" class="btn btn-block panel-left-btn"> <span class="glyphicon glyphicon-search"></span> </button>
        }

    </div>

</div>



