@model OhioVoter.ViewModels.Candidate.CandidateViewModel

<div class="panel panel-group panel-main panel-main-group">

    <div class="panel-title panel-main-title">
        <p>Candidate Summary</p>
    </div>

    <div class="panel-body panel-main-body">

        <div id="candidate_summary_group">

            <div id="candidate_summary">
                <img src="@Url.Content( Model.Candidate.VoteSmartCandidatePhotoUrl )" alt="Candidate" id="candidate_summary_img" /> <br />
                @Model.Candidate.CandidateName <br />
                @Model.Candidate.PartyName <br />
                @Model.Candidate.CandidateOfficeName <br />
                @Model.Candidate.OfficeHolderName
            </div>

            <div id="runningmate_summary">
                @{ if (Model.Candidate.RunningMateId > 0)
                    {
                        <img src="@Model.Candidate.VoteSmartRunningMatePhotoUrl" alt="Running Mate" id="runningmate_summary_img" /> <br />
                        @Model.Candidate.RunningMateName <br />
                        @Model.Candidate.PartyName <br />
                        @Model.Candidate.RunningMateOfficeName <br />
                        @Model.Candidate.OfficeHolderName
                    }
                }
            </div>

        </div>

        <div id="candidate_summary_btn">
            @Html.ActionLink("Change Candidate", "Index", "Candidate", new { candidateId = 0 }, new { @id= "candidate_new_btn", @class = "btn btn-block panel-main-btn" })
            @Html.ActionLink("Compare Second Candidate", "", "", new { candidateId = 0 }, new { @id= "candidate_compare_btn", @class = "btn btn-block panel-main-btn" })
        </div>

    </div>


</div>

