@model OhioVoter.ViewModels.Candidate.CandidateViewModel

<div class="panel panel-group panel-main panel-main-group">

    <div class="panel-title panel-main-title">
        <p>Candidate Summary</p>
    </div>

    <div id="candidate_summary" class="panel-body panel-main-body">

        <div id="candidate_summary_candidate" class="form-group candidate-information-group">
            <img src="@Url.Content( Model.Candidate.VoteSmartCandidatePhotoUrl )" alt="Candidate" width="80" runat="server" /> <br />
            @Model.Candidate.CandidateName <br />
            @Model.Candidate.PartyName <br />
            @Model.Candidate.CandidateOfficeName <br />
            @Model.Candidate.OfficeHolderName
        </div>
        @{ if (Model.Candidate.RunningMateId > 0)
            {
                <div id="candidate_summary_runningmate" class="form-group candidate-information-group">
                    <img src="@Model.Candidate.VoteSmartRunningMatePhotoUrl" alt="Running Mate" width="80" runat="server" /> <br />
                    @Model.Candidate.RunningMateName <br />
                    @Model.Candidate.PartyName <br />
                    @Model.Candidate.RunningMateOfficeName <br />
                    @Model.Candidate.OfficeHolderName
                </div>
            }
        }

        <div>
            @Html.ActionLink("Change Candidate", "Index", "Candidate", new { candidateId = 0 }, new { @class = "btn btn-block panel-main-btn" })

            @Html.ActionLink("Compare Second Candidate", "", "", new { candidateId = 0 }, new { @class = "btn btn-block panel-main-btn" })
        </div>

    </div>

</div>

